<div style="text-align: center;font-size: 35pt">{{typ}}</div>
			<form target="upload/{{ typ }}" method="POST">
				{% csrf_token %}
				<!-- {{ form.as_table }} -->

				{% for field in form %}
						{{ field.errors}}
					<div class="form-group">
						<label for="{{field.id_for_label}}">{{field.label}}</label>
						{{ field }}
					</div>
				{% endfor %}
			  <!-- <div class="form-group">
			    <label for="MSN">MSN</label>
			    <input type="text" class="form-control" id="MSN" name="MSN" placeholder="Enter MSN">
			  </div>
			  <div class="form-group">
			    <label for="Harness_length">Harness Length</label>
			    <input type="text" class="form-control" id="Harness_length" name="Harness_length" placeholder="Enter Harness Length">
			  </div>
			  <div class="form-group">
			    <label for="Gross_weight">Gross  Weight</label>
			    <input type="text" class="form-control" id="Gross_weight" name="Gross_weight" placeholder="Enter Gross weight">
			  </div>
			  <div class="form-group">
			    <label for="Atmospheric_pressure">Atmospheric Pressure</label>
			    <input type="text" class="form-control" id="Atmospheric_pressure" name="Atmospheric_pressure" placeholder="Enter Atmospheric pressure">
			  </div>
			  <div class="form-group">
			    <label for="Room_temp">Room Temperature</label>
			    <input type="text" class="form-control" id="Room_temp" name="Room_temp" placeholder="Enter Room Temperature">
			  </div>
			  <div class="form-group">
			    <label for="Airport">Airport</label>
			    <input type="text" class="form-control" id="Airport" name="Airport" placeholder="Enter name of Airport">
			  </div>
			  <div class="form-group">
			    <label for="Fuel_cap_LW">Fuel Capacity on Left Wing</label>
			    <input type="text" class="form-control" id="Fuel_cap_LW" name="Fuel_cap_LW" placeholder="Enter Fuel Capacity on Left Wing">
			  </div>
			  <div class="form-group">
			    <label for="Fuel_cap_RW">Fuel Capacity on Right Wing</label>
			    <input type="text" class="form-control" id="Fuel_cap_RW" name="Fuel_cap_RW" placeholder="Fuel Capacity on Right Wing">
			  </div>
			  <div class="form-group">
			    <label for="Fuel_quant_LW">Fuel Quantity on Left Wing</label>
			    <input type="text" class="form-control" id="Fuel_quant_LW" name="Fuel_quant_LW" placeholder="Enter Fuel Quantity on Left Wing">
			  </div>
			  <div class="form-group">
			    <label for="Fuel_quant_RW">Fuel Quantity on Right Wing</label>
			    <input type="text" class="form-control" id="Fuel_quant_RW" name="Fuel_quant_RW" placeholder="Enter Fuel Quantity on Right Wing">
			  </div>
			  <div class="form-group">
			    <label for="Max_altitude">Maximum Altitude</label>
			    <input type="text" class="form-control" id="Max_altitude" name="Max_altitude" placeholder="Enter Maximum Altitude">
			  </div>
			  <div class="form-group">
			    <label for="Flight_no">Flight Number</label>
			    <input type="text" class="form-control" id="Flight_no" name="Flight_no" placeholder="Enter Flight Number">
			  </div> -->
			  <!-- <div class="form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div> -->
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>