<!DOCTYPE html>
<html>
<head>
	<title>Air-Buzz</title>
</head>
<body style="background: black;  ">
	<section style="width: 900px;margin: 0 auto;margin-top: 50px;margin-bottom: 50px;">
		<div style="width: 30%; background: blue;float: left;padding: 10px;border: 3px solid yellow;">
			<div class="typ" style="margin: 0 auto;background: white;margin-top: 20px; cursor: pointer;" onclick="location.href='{% url 'upload' 'A320' %}'"><div style="text-align: center; padding: 20px; font-size: 15pt;">A320</div></div>
			<div class="typ" style="margin: 0 auto;background: white;margin-top: 20px; cursor: pointer;" onclick="location.href='{% url 'upload' 'A330' %}'"><div style="text-align: center; padding: 20px; font-size: 15pt;">A330</div></div>
			<div class="typ" style="margin: 0 auto;background: white;margin-top: 20px; cursor: pointer;" onclick="location.href='{% url 'upload' 'A340' %}'"><div style="text-align: center; padding: 20px; font-size: 15pt;">A340</div></div>
			<div style="margin: 0 auto;background: green;margin-top: 20px;"><div style="text-align: center; padding: 20px; font-size: 15pt;"><!-- <form target="" method="GET"> --><input id="searchVal" type="text" name="MSN" style="width: 200px;" placeholder="Enter MSN"><!-- Or<input type="text" name="flight no" style="width: 200px;margin-top: 0px;" placeholder="Enter flight no"> --><button id="searchBtn" type="submit" class="btn btn-primary" style="margin-top: 15px;">Search</button><!-- </form> --></div></div>
		</div>
		<div id="dataEntry" style="margin-left: 32%;background: white;padding: 10px; border: 3px solid yellow; min-height: 445px;">
				{% include page %}
		</div>
	</section>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>	
</body>
{% load static %}
<!-- <script type="text/javascript" src="{% static 'air.js' %}"></script> -->
<script type="text/javascript">
	$("button#searchBtn").click(function(){
	// alert($("input#searchVal").val());
	if ($("input#searchVal").val()!="") {
		window.location.href="{% url 'search' %}?q="+$("input#searchVal").val()
	} 
	else {
		alert("Empty String")
	}
	
});
</script>
</html>




<!-- <div style="margin: 0 auto;background: green;margin-top: 20px;"><div style="text-align: center; padding: 20px; font-size: 15pt;"><form target="" method="GET"><input type="text" name="MSN" style="width: 200px;" placeholder="Enter MSN">Or<input type="text" name="flight no" style="width: 200px;margin-top: 0px;" placeholder="Enter flight no"><button type="submit" class="btn btn-primary" style="margin-top: 15px;">Search</button></form></div></div> -->