<div style="text-align: center;font-size: 35pt">Airbus Details</div>
{% if obs %}
<table style="width: 80%">
	<tr><td>Manufacturer Serial Number</td><td>{{ obs.MSN }}</td></tr>
	<tr><td>Harness Length</td><td>{{ obs.Harness_length }}</td></tr>
	<tr><td>Gross Weight</td><td>{{ obs.Gross_weight }}</td></tr>
	<tr><td>Atmospheric Pressure</td><td>{{ obs.Atmospheric_pressure }}</td></tr>
	<tr><td>Room Temperature</td><td>{{ obs.Room_temp }}</td></tr>
	<tr><td>Airport</td><td>{{ obs.Airport }}</td></tr>
	<tr><td>Fuel Capacity on Left Wing</td><td>{{ obs.Fuel_cap_LW }}</td></tr>
	<tr><td>Fuel Capacity on Right Wing</td><td>{{ obs.Fuel_cap_RW }}</td></tr>
	<tr><td>Fuel Quantity on Left Wing</td><td>{{ obs.Fuel_quant_LW }}</td></tr>
	<tr><td>Fuel Quantity on Right Wing</td><td>{{ obs.Fuel_quant_RW }}</td></tr>
	<tr><td>Maximum Altitude</td><td>{{ obs.Max_altitude }}</td></tr>
	<tr><td>Flight Number</td><td>{{ obs.Flight_no }}</td></tr>
</table>
{% else %}
<div style="font-size: 20pt">Airbus with MSN {{ q }} has no data records</div>
{% endif %}